<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Project 3 Chart.js</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <label id="demo"></label>
    <h1>Fetch Test</h1>
    <p id='merged_data'></p>
    <p id='mylog' />
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script src="../static/js/chart.js"></script>
</body>

</html>